@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Medium.eot');
  src: url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Medium../fonts/.woff2') format('woff2'), url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Medium.svg#HelveticaNeueCyr-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: '../fonts/HelveticaNeueCyr-Bold';
  src: url('../fonts/HelveticaNeueCyr-Bold.eot');
  src: url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'), url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: '../fonts/HelveticaNeueCyr-Black';
  src: url('../fonts/HelveticaNeueCyr-Black.eot');
  src: url('../fonts/HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Black.woff2') format('woff2'), url('../fonts/HelveticaNeueCyr-Black.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Black.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Black.svg#HelveticaNeueCyr-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}
html {
  font-size: 10px;
}
body {
  font-family: HelveticaNeueCyr, Helvetica, sans-serif;
}
p,
span,
strong,
ul {
  font-size: 1.6rem;
}
section-header {
  padding-top: 10rem;
}
section button {
  font-size: 1.8rem;
  color: #ffffff;
  background-color: #94ca2d;
  border: none;
  line-height: 5rem;
  padding-top: 0rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 0rem;
  border-radius: 3px;
}
section button:hover {
  background-color: #75a024;
}
.main {
  background: url(../img/main/main_bg.jpg) no-repeat center;
  background-size: cover;
}
.main .header {
  padding-top: 3rem;
  background-color: rgba(0, 0, 0, 0.6);
  padding-bottom: 1rem;
}
.main .header h3 {
  padding-left: 2rem;
  font-size: 2rem;
  color: #ffffff;
}
.main .header .phone p {
  color: #ffffff;
  font-size: 2.5rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.main .header .phone-link {
  text-align: right;
}
.main .header .phone-link a {
  font-size: 1.6rem;
  color: #94ca2d;
}
.main-img img {
  max-width: 100%;
  height: auto;
  text-align: left;
}
.main-content h1 {
  font-size: 3.9rem;
  font-weight: 700;
  color: #ffffff;
  padding-top: 10rem;
}
.main-content h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
}
.main-btn {
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.about {
  background-color: #f8f8f0;
  background-size: cover;
}
.about h2 {
  font-family: [object Object];
  font-variant: small-caps;
  padding-top: 3rem;
  font-size: 3.5rem;
}
.about-description p {
  font-size: 1.7rem;
  padding-top: 3rem;
  color: #000000;
}
.about img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.about-block {
  display: table;
  width: 100%;
  height: 7rem;
}
.about-list {
  display: table-cell;
  vertical-align: middle;
}
.about-list h3 {
  font-weight: 700;
}
.about-list ul {
  display: inline-block;
  min-height: 11rem;
  padding-inline-start: 0;
}
.about-list ul li {
  font-size: 1.9rem;
  font-size: 1.5rem;
  list-style-type: none;
}
.about-list ul li::before {
  content: "-";
}
.about-list span {
  display: block;
  font-size: 1.9rem;
}
.about-list span strong {
  font-size: 2.5rem;
  color: #b61919;
  padding-left: 1rem;
}
.about button {
  font-size: 1.8rem;
  line-height: 6rem;
  text-transform: uppercase;
  padding-top: 0;
  margin-top: 3rem;
  margin-bottom: 6rem;
  box-shadow: 0 4px 0 #76ae0c;
}
@media (max-width: 1199px) {
  .main .header h3 {
    margin-left: 2rem;
  }
  .about {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .main .header h3 {
    padding-left: 0rem;
    font-size: 1.8rem;
  }
  .main h1 {
    font-size: 3.7rem;
  }
}
@media (max-width: 767px) {
  .main .header {
    padding-bottom: 2rem;
  }
  .main .header .logo-text h3 {
    font-size: 1.5rem;
  }
  .main .header .phone p {
    font-size: 1.8rem;
  }
  .main .header .phone-link {
    text-align: left;
  }
  .main .header .phone-link a {
    font-size: 1.6rem;
    padding-bottom: 10rem;
  }
  .main-title h1 {
    font-size: 2.8rem;
  }
  .about-block {
    text-align: center;
  }
  .about-list {
    padding-top: 2rem;
    display: block;
  }
}
@media (max-width: 576px) {
  .main {
    text-align: center;
  }
  .main .header h3 {
    font-size: 1.2rem;
  }
  .main-content h2 {
    font-size: 2rem;
  }
  .main-title h1 {
    padding-top: 3rem;
    font-size: 2rem;
  }
  .main-btn {
    display: inline-block;
    font-size: 1rem;
  }
  .main-img {
    text-align: center;
  }
  .main .header h3 {
    padding-top: 2rem;
  }
  .main .header .phone-link {
    text-align: center;
  }
  .about h2 {
    font-size: 2.2rem;
  }
  .about-description p {
    font-size: 1.1rem;
  }
  .about-block span {
    font-size: 1.3rem;
  }
  .about-block span strong {
    font-size: 1.5rem;
  }
  .about-list {
    min-height: 15rem;
  }
  .about-list ul {
    min-height: 100%;
  }
  .about-list ul li {
    font-size: 1.1rem;
  }
  .about button {
    font-size: 0.9rem;
  }
}
