//Fonts
@font-face {
    font-family: 'ProximaNova-Black';
    src: url('../fonts/ProximaNova-Black.eot');
    src: url('../fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Black.woff2') format('woff2'),
        url('../fonts/ProximaNova-Black.woff') format('woff'),
        url('../fonts/ProximaNova-Black.ttf') format('truetype'),
        url('../fonts/ProximaNova-Black.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
        url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.reg() {
    font-family: 'ProximaNova-Regular', sans-serif;
}

.black() {
    font-family: 'ProximaNova-Black', sans-serif;
}

//Colors
@main-color: #f7b516;
@bg-color: #0b3554;
@secondary-bg-color: #08243e;
@header-bg-color: #191919;
@btn-color: #1866af;
@hover-color:#579eff;
@dark: #000;
@light: #fff;

html {
    font-size: 10px;
}

body {
    .reg()
}

.section {
    &-header {
        padding-top: 10rem;

        h2 {
            .black();
            font-size: 3rem;
        }

        span {
            font-size: 2rem;
        }
    }

}

form {
    input {
        background-color: #f2f2f2;
        font-size: 1.6rem;
        width: 100%;
        padding: 2rem;
        border: none;

        &::placeholder {
            font-size: 1.2rem;
        }
    }

    .mail-input {
        background: #f2f2f2 url(../img/prices/envelope.png) no-repeat center right 2rem;
    }

    .phone-input {
        background: #f2f2f2 url(../img/prices/phone.png) no-repeat center right 2rem;
    }
}

button {
    font-size: 1.2rem;
    font-weight: bold;
    padding-right: 3rem;
    padding-left: 3rem;
    line-height: 6rem;
    color: @light;
    background-color: @btn-color;
    border: none;
    text-transform: uppercase;

    &:hover {
        background: darken(@btn-color, 10%);
    }


}

.main {
    .header {
        padding-top: 2rem;
        color: @light;
        background-color: @header-bg-color;

        .working-hours {
            padding-top: 0.5rem;
            font-size: 1.2rem;
            font-weight: bold;
        }

        .phone-number {
            .black();
            font-size: 1.8rem;
        }

    }

    .hero {
        background: url(../img/main/main-bg.jpg) no-repeat center;
        background-size: cover;
        min-width: 20rem;
    }

    &-content {
        background-color: @main-color;

        padding: 1rem 10rem 8rem 8rem;

        h1 {
            .black();
            font-size: 4rem;
        }
    }

    &-subtitle {
        .black();
        font-size: 2.8rem;
        padding-top: 2rem;
        padding-bottom: 6rem;

    }

    &-features {
        &-block {
            display: flex;
            padding-bottom: 5rem;
            max-height: 9rem;

            p {
                display: inline-block;
                font-size: 1.8rem;
                font-weight: bold;
            }

            img {
                display: flex;
                align-self: center;
                padding-right: 2rem;
            }

            &:last-of-type {
                padding-bottom: 0;
            }
        }

    }
}

//Prices
.prices {
    background: url(../img/prices/prices-bg.jpg) no-repeat center;

    h2 {
        .black();
        font-size: 3rem;
    }

    span {
        font-size: 1.4rem;
    }

    &-form {
        margin-top: 6rem;
        margin-bottom: 13rem;

    }

    input {
        margin-bottom: 3rem;
    }

    .button {
        font-size: 1.7rem;
        width: 100%;
    }
}

.all-inclusive {
    background-color: @secondary-bg-color;
    color: @light;

    h2 {
        .black();
        font-size: 3.6rem;
    }

    span {
        font-size: 2rem;
    }

    &-block {
        color: @light;
        padding-bottom: 10rem;

        img {
            max-height: 6.5rem;
            margin-top: 10rem;
            margin-bottom: 4rem;
        }

        span {
            display: block;
            font-size: 1.8rem;
        }
    }
}

.items {
    background: url(../img/items/items-bg.jpg) no-repeat center;
    background-size: cover;

    &-header {
        padding-bottom: 6rem;
        color: @light;
    }

    &-form {
        button {
            font-size: 1.7rem;
            font-weight: 700;
            background: @main-color;
            width: 100%;
            margin-bottom: 6rem;

            &:hover {
                background: darken(@main-color, 10%);
            }
        }
    }

    &-subtitle {
        p {
            font-size: 1.4rem;
            color: @light;

            &:last-of-type {
                .black();
                font-size: 3rem;
                padding-bottom: 10rem;
            }
        }
    }
}

//Delivery
.delivery {
    &-header {
        h2 {
            .black();
            font-size: 3.6rem;
        }
    }

    &-features {
        &-block {
            margin-bottom: 10rem;
            p {
                font-size: 1.8rem;
                padding-top: 5rem;
                padding-bottom: 3rem;
            }

            img {
                padding-top: 10rem;
                margin: 0 auto;
            }

            a {
                font-size: 1.7rem;
                font-weight: 700;
                color: @dark;
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }

            
        }
    }
    .arrow {
        top: 50%;
        transform: translateY(-50%);
        z-index: 99;
        width: 2rem;
        height: 2rem;
        border: none;
    
    }
    .prev {
                position: absolute;
                left: 0%;
                background: url(../img/delivery/prevArrow.svg) center no-repeat;
                background-size: 100%;
            }

            .next {
                position: absolute;
                right: 0%;
                background: url(../img/delivery/nextArrow.svg) center no-repeat;
                background-size: 100%;
            }

}

//Bonuses
.bonuses{
    background: @secondary-bg-color;
    color:@light;
    &-header{
        .black();
        padding-bottom: 10rem;
        h2{
            font-size: 3.6rem;
        }
    }
    .media{
        &-left{
            margin:0 auto;
        }
        &-body{
            padding-top: 4rem;
            padding-bottom: 4rem;
            p{
                font-size: 1.8rem;
            }
        }
        .circle {
            display: inline-block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            &-border {
                display: inline-block;
                height: 8rem;
                width: 8rem;
                padding: 0.3rem;
                border: 2px solid @light;
                border-radius: 50%;
                text-align: center;
                line-height: 7rem;
                color: @light;
                font-size: 1.6rem;
                font-weight: 700;
            }
        }
    }
}

//Questions
.questions{
    background:@bg-color;
    color:@light;
    &-header{
        padding-bottom: 10rem;
    }
    &-block{
      
           li{
                font-size: 1.6rem;
                list-style-type: none;
            p{
               display: inline-block;
            }
            ol{
                display: inline-block;
                position:relative;
                padding-bottom: 5rem;
                text-decoration: underline;

            }
        }
        &-dropdown{
            display:none;
            &_active{
             font-size: 1rem;
            position: absolute;
            background: @light;
            color:@dark;
            max-width: 100% ;
            }
            
        }
    }
}

//Media
@media (max-width:1190px) {
    .bonuses{
        .media{
            &-body{
                p{
                    font-size: 1.5rem;
                }
            }
        }
    }
    .questions{
        &-block{
            &-img{
                img{
                    max-width: 48rem;
                }
                
            }
    }
}
}

@media (max-width:991px) {
    button {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 0.9rem;
        line-height: 6rem;
        width: 100%;
        padding-top: 0;
    }

    .main {
        .header {
            padding-bottom: 1rem;

            .phone-number {
                font-size: 1.5rem;
            }
        }
    }

    .prices {
        &-form {
            margin-bottom: 8rem;

            input {
                font-size: 1.2rem;

                &::placeholder {
                    font-size: 1rem;
                }
            }
        }
    }

    .all-inclusive {
        &-block {
            span {
                font-size: 1.3rem;
            }
        }
    }
    .bonuses{
        .media{
            &-left{
                margin-top: 3rem;
            }
        }
    }

    .questions{
        &-block{
            &-img{
                img{
                    max-width: 70rem;
                }
                
            }
    }
}
}





@media (max-width:767px) {
    button {
        width: 50%;
    }

    .prices {
        &-form {
            img {
                display: none;
            }

            button {
                margin-top: 2rem;
            }
        }
    }

    .all-inclusive {
        &-block {
            padding-bottom: 2rem;
        }
    }

    .items {
        &-form {
            input {
                margin-bottom: 2rem;
            }
        }

    }
    .questions{
        &-block{
            &-img{
                img{
                    max-width: 50rem;
                }
            }
        }
    }
}

@media (max-width:576px) {
    .main {
        &-content {
            h1 {
                font-size: 3rem;
            }
        }

        &-subtitle {
            font-size: 2rem;
        }

        &-features {
            &-block {
                p {
                    font-size: 1.5rem;
                }
            }
        }
    }

    .items {
        &-header {
            span {
                font-size: 1.3rem;
            }

        }
    }
    .questions{
        &-block{
            &-img{
                img{
                    max-width: 100%;
                }
            }
        }
    }
}

@media (max-width:478px) {
    .main {
        &-content {
            padding: 1rem 3rem 8rem 2rem;
        }
    }

    .prices {
        &-form {
            span {
                font-size: 1.3rem;
            }
        }
    }
    .questions{
        &-block{
          
            li{
                font-size: 1.3rem;
            }
        }
    }
}