//Fonts
@font-face {
    font-family: '../fonts/ProximaNova-Bold';
    src: url('ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
        url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: '../fonts/ProximaNova-Regular';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
        url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.reg() {
    font-family: 'ProximaNova-Regular', sans-serif;
}

.bold() {
    font-family: 'ProximaNova-Bold', sans-serif;
}

// Colors
@btn-color: #fdb303;
@icon-color: #70c849;
@text-color: #5e5e5e;
@danger: #ff0000;
@bg-light: #f5f5f5;
@light: #fff;
// Basic settings
html {
    font-size: 10px;
}

body {
    .reg();

    strong,
    p,
    span,
    ul {
        font-size: 1.5rem;
    }
   
}

section {
    padding: 10rem 0;
}

.form {
    background-color: @light;
    text-align: center;
    padding: 4rem 4.5rem;

    &-label {
        font-size: 1.3rem;
        font-weight: bold;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(80%);
        background-color: @light;
        color: #565656;
    }

    &-header {
        font-size: 1.8rem;
    }

    &-input, &-textarea{
        font-size: 1.7rem;
        padding-top: 1.7rem;
        padding-bottom: 1.7rem;
        margin-top: 2.5rem;
        border: 1px solid #dddddd;
        width: 100%;
        text-align: center;
    }

    &-button {
        display: block;
        font-size: 1.6rem;
        font-weight: 700;
        width: 100%;
        margin: 2rem 0 1rem;

        &-subtitle {
            font-size: 1.2rem;

        }
    }
}

.main {
    padding: 3rem 0;
    background: #000 url(../img/main-bg.jpg) center center no-repeat;
    background-size: cover;

    &-content {
        margin: 7rem 0;

        span {
            display: inline-block;
            font-size: 1.8rem;
            color: @light;
            background-color: @icon-color;
            padding: 2rem 4rem;
            margin-top: 4rem;

            strong {
                font-size: 3rem;
            }
        }
    }

    &-subtitle {
        font-size: 2.4rem;
        margin-top: 2rem;
    }

    &-trigger {
        display: block;
        font-size: 2.2rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 4rem;
    }

}

.header {
    min-height: 7rem;
}

.wrap {
    display: table;
    width: 100%;
    height: 7rem;

    &-block {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
    }
}

.phone-block {
    text-align: right;
}

.phone-number {
    display: inline-block;
    font-size: 2rem;
    color: @text-color;
    font-weight: 700;
    height: 7rem;
    line-height: 7rem;
}

.button {
    color: @light;
    font-size: 12px;
    padding: 1.4rem 3.5rem;
    border: none;
    border-radius: 8px;
    background-color: @btn-color;

    &:hover {
        background-color: darken(@btn-color, 7%);
        color: @light;
    }
}


.main-title {
    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.5;
        text-transform: uppercase;
        margin-top: 2rem;
    }
}

.main-form {
    background-color: @light;
    text-align: center;
    padding: 4rem 4.5rem;

    &-label {
        font-size: 1.3rem;
        font-weight: bold;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(80%);
        background-color: @light;
        color: #565656;
    }

    &-header {
        font-size: 1.8rem;
    }

    &-input {
        font-size: 1.7rem;
        padding-top: 1.7rem;
        padding-bottom: 1.7rem;
        margin-top: 2.5rem;
        border: 1px solid #dddddd;
        width: 100%;
        text-align: center;
    }

    &-button {
        display: block;
        font-size: 1.6rem;
        font-weight: 700;
        width: 100%;
        margin: 2rem 0 1rem;

        &-subtitle {
            font-size: 1.2rem;

        }
    }
}

section {
    padding: 10rem 0;


    .section-header {
        font-size: 3.6rem;
        font-weight: 700;
        text-align: center;
        margin-bottom: 13rem;

        &_light {
            color: @light;
        }

        h2 {
            .bold();
            font-size: 3.6rem;
            margin-bottom: 3rem;
            font-weight: 700;
        }

        p {
            font-size: 1.6rem;
        }
    }
}

//Блок 'преимущества'. Block 'features'

.features-materials{

 &-block {
    text-align: center;

    img {
        min-height: 8rem;
        display: block;
        margin: 0 auto;
    }

    h3 {
        font-size: 2rem;
        font-weight: 700;
        padding-top: 6rem;
    }

    p {
        display: inline-block;
        width: 85%;
        font-size: 1.4rem;
        padding-top: 3.5rem;
    }

}
}

.slick-active {
    outline: none;
}

.arrow {
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    width: 2rem;
    height: 2rem;
    border: none;

}

.prev {
    position: absolute;
    left: 0%;
    background: url(../img/prevArrow.svg) center no-repeat;
    background-size: 70%;
}

.next {
    position: absolute;
    right: 0%;
    background: url(../img/nextArrow.svg) center no-repeat;
    background-size: 70%;
}

//Блок с ценами. Block 'prices'

.prices {
    background: url(../img/prices/price-bg.jpg) repeat center;

    &-header-btn {
        margin-top: 2rem;
        .bold();
        font-weight: 700;
        text-transform: uppercase;
    }

    &-button {
        text-align: right;
    }


    &-block {
        padding: 1rem 3rem 4rem;
        min-height: 60rem;
        background-color: @light;
        box-shadow: 0 14px 21px rgba(0, 0, 0, 0.17);
        text-align: center;

        h4 {
            margin: 3rem 0;
            font-size: 1.8rem;
            font-weight: 700;
        }

        img {
            width: 100%;
            max-width: 30rem;
            display: inline-block;
            margin-bottom: 2rem;
        }

    }

    &-tag {
        display: block;
        margin-bottom: 2rem;
        font-size: 1.9rem;
        font-weight: 700;
    }

    &-list {
        font-size: 1.6rem;
        min-height: 15rem;
        list-style: none;
        padding: 0;
        margin-bottom: 2rem;

        li {
            &:before {
                content: "";
                display: inline-block;
                width: 2.4rem;
                height: 2.4rem;
                background: url(../img/prices/check.svg) no-repeat center;
                background-size: 60%;
                vertical-align: middle;
            }
        }

    }

    &-btn {
        padding-right: 6rem;
        padding-left: 6rem;
        text-transform: uppercase;
        font-weight: 700;
    }

}

//Блок с отзывами. Block 'feedback'
.feedback {
    position: relative;
    background: url(../img/feedback/feedback-bg.jpg) no-repeat center;
    background-size: cover;

    &-prev-btn {
        left: -4rem;
    }

    &-next-btn {
        right: -4rem;
    }

    &-text {
        position: relative;
        padding: 1rem;
        margin-top: 3rem;
        border: 2px solid @icon-color;

        &::before {
            content: "";
            position: absolute;
            top: -2rem;
            left: 2rem;
            width: 2rem;
            height: 2rem;
            border: 2px solid @icon-color;
            border-bottom: none;
            border-top-right-radius: 100px;
            background-color: #fff;
        }
    }

    &-slider {
        padding: 5rem 6rem;
        box-shadow: 0 12px 18px rgba(0, 0, 0, 0.11);
        background-color: @light;

        .media {
            margin-top: 3rem;

            h5 {
                font-weight: 700;
            }
        }

        &-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: @icon-color;
            width: 4rem;
            height: 5rem;
            border: none;

            img {
                width: 50%;
            }
        }
    }

    &-form {
        margin-top: 10rem;
        padding: 4rem 10rem;
        background-color: @light;
        text-align: center;

        h3 {
            font-size: 2rem;
            font-weight: 700;
            text-align: center;
        }
    }

    &-btn {
        max-width: 30rem;
        margin: 3rem auto;
    }
}

.hand {
    position: absolute;
    bottom: 0;
    left: -10rem;
    max-width: 40rem;
}

//Блок схема работы.Block 'scheme'

.scheme {
    background: url(../img/scheme/scheme-bg.png) no-repeat bottom -10rem right -10rem;
    background-size: 65rem;

    &-block {
        min-height: 30rem;

    }

    h3 {
        font-size: 2.2rem;
        font-weight: 700;
        padding-top: 3rem;
        padding-bottom: 1.5rem;
    }
}

// Блок 'Все включено'.Block 'all inclusive'

.all-inclusive {
    background-color: @bg-light;

    h2 {
        color: @icon-color;
    }

    .media {
        min-height: 10rem;

        p {
            font-size: 1rem;

        }

        h4 {
            font-size: 1.5rem;
            font-weight: 700;
        }

        .circle {
            display: inline-block;
            background-color: @icon-color;
            width: 100%;
            height: 100%;
            border-radius: 50%;

            &-border {
                display: inline-block;
                height: 5rem;
                width: 5rem;
                padding: 0.3rem;
                border: 2px solid @icon-color;
                border-radius: 50%;
                text-align: center;
                line-height: 4rem;
                color: @light;
                font-size: 1.6rem;
                font-weight: 700;
            }
        }
    }
}

//Блок 'Развеем сомнения'. Block 'problems'

.problems {
    position: relative;

    &-list {
        padding: 1.8rem;
        border: 4px solid;
        min-height: 35rem;

        h4 {
            font-size: 2.1rem;
        }

        ul {
            font-size: 1.4rem;
            padding-top: 2rem;
            padding-left: 0;

            li {
                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    width: 3rem;
                    height: 3rem;
                }

                padding-left: 3.5rem;
                position: relative;
                list-style: none;
                margin-bottom: 3rem;
            }
        }

        &_bad {
            border-color: #e8e8e8;

            h4 {
                opacity: 0.5;
            }

            li {
                &::before {
                    background: url(../img/problems/clear.svg) no-repeat center;
                    background-size: 50%;
                }
            }
        }

        &_good {
            border-color: @icon-color;

            li {
                &:before {
                    background: url(../img/problems/check.svg) no-repeat center;
                    background-size: 70%;
                }
            }
        }
    }

    &-women {
        position: absolute;
        top: 35%;
        left: 36%
    }
}

// Блок 'Материалы'. Block 'Materials'
    .materials{
        background: @light url(../img/materials/material_bg.png) no-repeat center;
        padding:0;
        h2{
            margin-top: 15rem;
        }
        &-link{
            font-size: 1.6rem;
            text-decoration: none;
            color:@icon-color;
          &:hover{
              text-decoration:none;
              color:darken(@icon-color,10);
          }
        }
        &-block{
        p{
            padding-bottom: 3rem;
        }
        h3{
            padding-top: 1rem;
        }
    }
    &-offer{
        padding-top: 7rem;
        text-align:center;
    }
    }


//Блок 'Как мы работаем'. Block 'How we are working'
.tour{
    background: @light url(../img/tour/tour_bg.jpg) no-repeat center ;
    background-size: cover;
    &-subtitle{
        p{
            font-size: 2.2rem;
        }
    }
}
//Блок 'Доп. услуги'. Block 'uppsels'
.upsell{
    background:  #286b0a;
   
        &-block{ 
            &s{
            min-height:30rem;
            text-align: center;
            color:@light;
            img{
                margin-top: 2rem;
                max-width: 30rem;
                width:100%;
            }
            p{
                padding:2rem 0;
            }
        }
    }
}

// Блок 'Контакты'. Block 'contacts 
.contacts{
    background:url(../img/Contacts/contact_bg.png) center  no-repeat;
    h2{
        margin-bottom: 5rem;
        font-size: 3.6rem;
    }
    p{
        margin-bottom: 2rem;
    }
    &-link{
        color:@text-color;
        border-bottom: 1px dotted @text-color;
        &:hover{
            color:darken(@text-color,10%);
            text-decoration: none;
        }
    }
}

//Footer
footer{
    padding-top: 4rem;
    .footer{
        &-contacts{
        text-align: center;
        }
    }
    .dev-logo{
        text-align: center;
    }
}

// Оформление модальных окон
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);

    h4 {
        font-size: 1.8rem;
    }

    p {
        font-size: 1.5rem;
    }

    &-content {
        position: fixed;
        left: 50%;
        top: 10%;
        background-color: @light;
        transform: TranslateX(-50%);
        padding: 1rem 3rem;
        text-align: center;
    }

    &-form {
        padding: 0;

    }

    &-close {
        position: absolute;
        top: -1.5rem;
        right: -2rem;
        width: 2rem;
        color: @light;
        border: none;
        background-color: transparent;
        font-size: 3rem;
        text-align: center;
    }
}



@media (max-width:1199px) {
    .feedback {
        &-form {
            padding: 3rem 5rem;
        }

        .fotorama {
            margin-bottom: 3rem;
        }
    }

    .hand {
        display: none;
    }

    .problems {
        &-list {
            min-height: 40rem;
        }

        &-women {
            left: 31%;
        }
    }
    .materials{
        strong{
            font-size: 1.3rem;
        }
        
    }
}

@media (max-width:991px) {
    .phone-block {
        text-align: center;
    }

    .main {
        background-position: top right;

        &-title {
            text-align: center;
        }

    }

    .prices {
        &-button {
            text-align: center;
            padding: 2rem;
        }

        &-header-btn {
            margin-top: 0;
            margin-bottom: 2rem;
        }

        &-block {
            margin-top: 2rem;
        }
    }

    section {
        .section-header_light {
            margin: 0;
        }
    }

    .feedback {
        text-align: center;

        .media-body {
            text-align: left;
        }

    }

    .problems {
        &-list {
            margin-bottom: 2rem;
        }

        &-women {
            display: none;
        }
    }
    .tour{
        background:none ;
        background-color: @bg-light;
    }
    .contacts{
        background: @bg-light;
        &-form{
            margin-top: 3rem;
        }
    }
    .footer{
        text-align: center;
        &-contacts{
            margin: 2rem 0;
        }
    }
}

@media (max-width:767px) {
    .header {
        text-align: center;

        .wrap-block {
            text-align: center;
        }
    }

    .feedback {

        &-prev-btn {
            left: 0;
        }

        &-next-btn {
            right: 0;
        }
    }

    .scheme {
        background: none;
        text-align: center;

    }
}

@media (max-width:576px) {
    .main {
        background-position: top left;

        &-title {
            h1 {
                font-size: 2rem;
            }
        }
    }

    .form {

        &-iniput {
            width: 100%;
        }
    }
    
}