@font-face {
  font-family: '../fonts/ProximaNova-Bold';
  src: url('ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: '../fonts/ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova-Regular', sans-serif;
}
body strong,
body p,
body span,
body ul {
  font-size: 1.5rem;
}
section {
  padding: 10rem 0;
}
.form {
  background-color: #fff;
  text-align: center;
  padding: 4rem 4.5rem;
}
.form-label {
  font-size: 1.3rem;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(80%);
  background-color: #fff;
  color: #565656;
}
.form-header {
  font-size: 1.8rem;
}
.form-input,
.form-textarea {
  font-size: 1.7rem;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  margin-top: 2.5rem;
  border: 1px solid #dddddd;
  width: 100%;
  text-align: center;
}
.form-button {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  width: 100%;
  margin: 2rem 0 1rem;
}
.form-button-subtitle {
  font-size: 1.2rem;
}
.main {
  padding: 3rem 0;
  background: #000 url(../img/main-bg.jpg) center center no-repeat;
  background-size: cover;
}
.main-content {
  margin: 7rem 0;
}
.main-content span {
  display: inline-block;
  font-size: 1.8rem;
  color: #fff;
  background-color: #70c849;
  padding: 2rem 4rem;
  margin-top: 4rem;
}
.main-content span strong {
  font-size: 3rem;
}
.main-subtitle {
  font-size: 2.4rem;
  margin-top: 2rem;
}
.main-trigger {
  display: block;
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 4rem;
}
.header {
  min-height: 7rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.phone-block {
  text-align: right;
}
.phone-number {
  display: inline-block;
  font-size: 2rem;
  color: #5e5e5e;
  font-weight: 700;
  height: 7rem;
  line-height: 7rem;
}
.button {
  color: #fff;
  font-size: 12px;
  padding: 1.4rem 3.5rem;
  border: none;
  border-radius: 8px;
  background-color: #fdb303;
}
.button:hover {
  background-color: #db9a02;
  color: #fff;
}
.main-title h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  margin-top: 2rem;
}
.main-form {
  background-color: #fff;
  text-align: center;
  padding: 4rem 4.5rem;
}
.main-form-label {
  font-size: 1.3rem;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(80%);
  background-color: #fff;
  color: #565656;
}
.main-form-header {
  font-size: 1.8rem;
}
.main-form-input {
  font-size: 1.7rem;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  margin-top: 2.5rem;
  border: 1px solid #dddddd;
  width: 100%;
  text-align: center;
}
.main-form-button {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  width: 100%;
  margin: 2rem 0 1rem;
}
.main-form-button-subtitle {
  font-size: 1.2rem;
}
section {
  padding: 10rem 0;
}
section .section-header {
  font-size: 3.6rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 13rem;
}
section .section-header_light {
  color: #fff;
}
section .section-header h2 {
  font-family: 'ProximaNova-Bold', sans-serif;
  font-size: 3.6rem;
  margin-bottom: 3rem;
  font-weight: 700;
}
section .section-header p {
  font-size: 1.6rem;
}
.features-materials-block {
  text-align: center;
}
.features-materials-block img {
  min-height: 8rem;
  display: block;
  margin: 0 auto;
}
.features-materials-block h3 {
  font-size: 2rem;
  font-weight: 700;
  padding-top: 6rem;
}
.features-materials-block p {
  display: inline-block;
  width: 85%;
  font-size: 1.4rem;
  padding-top: 3.5rem;
}
.slick-active {
  outline: none;
}
.arrow {
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
}
.prev {
  position: absolute;
  left: 0%;
  background: url(../img/prevArrow.svg) center no-repeat;
  background-size: 70%;
}
.next {
  position: absolute;
  right: 0%;
  background: url(../img/nextArrow.svg) center no-repeat;
  background-size: 70%;
}
.prices {
  background: url(../img/prices/price-bg.jpg) repeat center;
}
.prices-header-btn {
  margin-top: 2rem;
  font-family: 'ProximaNova-Bold', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.prices-button {
  text-align: right;
}
.prices-block {
  padding: 1rem 3rem 4rem;
  min-height: 65rem;
  background-color: #fff;
  box-shadow: 0 14px 21px rgba(0, 0, 0, 0.17);
  text-align: center;
}
.prices-block h4 {
  margin: 3rem 0;
  font-size: 1.8rem;
  font-weight: 700;
}
.prices-block img {
  width: 100%;
  max-width: 30rem;
  display: inline-block;
  margin-bottom: 2rem;
}
.prices-tag {
  display: block;
  margin-bottom: 2rem;
  font-size: 1.9rem;
  font-weight: 700;
}
.prices-list {
  font-size: 1.6rem;
  min-height: 15rem;
  list-style: none;
  padding: 0;
  margin-bottom: 2rem;
}
.prices-list li:before {
  content: "";
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  background: url(../img/prices/check.svg) no-repeat center;
  background-size: 60%;
  vertical-align: middle;
}
.prices-btn {
  padding-right: 6rem;
  padding-left: 6rem;
  text-transform: uppercase;
  font-weight: 700;
}
.feedback {
  position: relative;
  background: url(../img/feedback/feedback-bg.jpg) no-repeat center;
  background-size: cover;
}
.feedback-prev-btn {
  left: -4rem;
}
.feedback-next-btn {
  right: -4rem;
}
.feedback-text {
  position: relative;
  padding: 1rem;
  margin-top: 3rem;
  border: 2px solid #70c849;
}
.feedback-text::before {
  content: "";
  position: absolute;
  top: -2rem;
  left: 2rem;
  width: 2rem;
  height: 2rem;
  border: 2px solid #70c849;
  border-bottom: none;
  border-top-right-radius: 100px;
  background-color: #fff;
}
.feedback-slider {
  padding: 5rem 6rem;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.11);
  background-color: #fff;
}
.feedback-slider .media {
  margin-top: 3rem;
}
.feedback-slider .media h5 {
  font-weight: 700;
}
.feedback-slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #70c849;
  width: 4rem;
  height: 5rem;
  border: none;
}
.feedback-slider-btn img {
  width: 50%;
}
.feedback-form {
  margin-top: 10rem;
  padding: 4rem 10rem;
  background-color: #fff;
  text-align: center;
}
.feedback-form h3 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.feedback-btn {
  max-width: 30rem;
  margin: 3rem auto;
}
.hand {
  position: absolute;
  bottom: 0;
  left: -10rem;
  max-width: 40rem;
}
.scheme {
  background: url(../img/scheme/scheme-bg.png) no-repeat bottom -10rem right -10rem;
  background-size: 65rem;
}
.scheme-block {
  min-height: 30rem;
}
.scheme h3 {
  font-size: 2.2rem;
  font-weight: 700;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}
.all-inclusive {
  background-color: #f5f5f5;
}
.all-inclusive h2 {
  color: #70c849;
}
.all-inclusive .media {
  min-height: 10rem;
}
.all-inclusive .media p {
  font-size: 1rem;
}
.all-inclusive .media h4 {
  font-size: 1.5rem;
  font-weight: 700;
}
.all-inclusive .media .circle {
  display: inline-block;
  background-color: #70c849;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.all-inclusive .media .circle-border {
  display: inline-block;
  height: 5rem;
  width: 5rem;
  padding: 0.3rem;
  border: 2px solid #70c849;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
}
.problems {
  position: relative;
}
.problems-list {
  padding: 1.8rem;
  border: 4px solid;
  min-height: 35rem;
}
.problems-list h4 {
  font-size: 2.1rem;
}
.problems-list ul {
  font-size: 1.4rem;
  padding-top: 2rem;
  padding-left: 0;
}
.problems-list ul li {
  padding-left: 3.5rem;
  position: relative;
  list-style: none;
  margin-bottom: 3rem;
}
.problems-list ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
}
.problems-list_bad {
  border-color: #e8e8e8;
}
.problems-list_bad h4 {
  opacity: 0.5;
}
.problems-list_bad li::before {
  background: url(../img/problems/clear.svg) no-repeat center;
  background-size: 50%;
}
.problems-list_good {
  border-color: #70c849;
}
.problems-list_good li:before {
  background: url(../img/problems/check.svg) no-repeat center;
  background-size: 70%;
}
.problems-women {
  position: absolute;
  top: 35%;
  left: 36%;
}
.materials {
  background: #fff url(../img/materials/material_bg.png) no-repeat center;
  padding: 0;
}
.materials h2 {
  margin-top: 15rem;
}
.materials-link {
  font-size: 1.6rem;
  text-decoration: none;
  color: #70c849;
}
.materials-link:hover {
  text-decoration: none;
  color: #58aa34;
}
.materials-block p {
  padding-bottom: 3rem;
}
.materials-block h3 {
  padding-top: 1rem;
}
.materials-offer {
  padding-top: 7rem;
  text-align: center;
}
.tour {
  background: #fff url(../img/tour/tour_bg.jpg) no-repeat center;
  background-size: cover;
}
.tour-subtitle p {
  font-size: 2.2rem;
}
.upsell {
  background: #286b0a;
}
.upsell-blocks {
  min-height: 30rem;
  text-align: center;
  color: #fff;
}
.upsell-blocks img {
  margin-top: 2rem;
  max-width: 30rem;
  width: 100%;
}
.upsell-blocks p {
  padding: 2rem 0;
}
.contacts {
  background: url(../img/Contacts/contact_bg.png) center no-repeat;
}
.contacts h2 {
  margin-bottom: 5rem;
  font-size: 3.6rem;
}
.contacts p {
  margin-bottom: 2rem;
}
.contacts-link {
  color: #5e5e5e;
  border-bottom: 1px dotted #5e5e5e;
}
.contacts-link:hover {
  color: #454545;
  text-decoration: none;
}
footer {
  padding-top: 4rem;
}
footer .footer-contacts {
  text-align: center;
}
footer .dev-logo {
  text-align: center;
}
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup h4 {
  font-size: 1.8rem;
}
.popup p {
  font-size: 1.5rem;
}
.popup-content {
  position: fixed;
  left: 50%;
  top: 10%;
  background-color: #fff;
  transform: TranslateX(-50%);
  padding: 1rem 3rem;
  text-align: center;
}
.popup-form {
  padding: 0;
}
.popup-close {
  position: absolute;
  top: -1.5rem;
  right: -2rem;
  width: 2rem;
  color: #fff;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  text-align: center;
}
@media (max-width: 1199px) {
  .feedback-form {
    padding: 3rem 5rem;
  }
  .feedback .fotorama {
    margin-bottom: 3rem;
  }
  .hand {
    display: none;
  }
  .problems-list {
    min-height: 40rem;
  }
  .problems-women {
    left: 31%;
  }
  .materials strong {
    font-size: 1.3rem;
  }
}
@media (max-width: 991px) {
  .phone-block {
    text-align: center;
  }
  .main {
    background-position: top right;
  }
  .main-title {
    text-align: center;
  }
  .prices-button {
    text-align: center;
    padding: 2rem;
  }
  .prices-header-btn {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .prices-block {
    margin-top: 2rem;
  }
  section .section-header_light {
    margin: 0;
  }
  .feedback {
    text-align: center;
  }
  .feedback .media-body {
    text-align: left;
  }
  .problems-list {
    margin-bottom: 2rem;
  }
  .problems-women {
    display: none;
  }
  .tour {
    background: none ;
    background-color: #f5f5f5;
  }
  .contacts {
    background: #f5f5f5;
  }
  .contacts-form {
    margin-top: 3rem;
  }
  .footer {
    text-align: center;
  }
  .footer-contacts {
    margin: 2rem 0;
  }
}
@media (max-width: 767px) {
  .header {
    text-align: center;
  }
  .header .wrap-block {
    text-align: center;
  }
  .feedback-prev-btn {
    left: 0;
  }
  .feedback-next-btn {
    right: 0;
  }
  .scheme {
    background: none;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .main {
    background-position: top left;
  }
  .main-title h1 {
    font-size: 2rem;
  }
  .form-iniput {
    width: 100%;
  }
}
